/* colours */
:root{
  --primary: #597481;
  --secondary: #FFE1C4;
  --uppernavbar: #C8C8C8;
  --textMensaAuswahl: #FCF5EA;
  --boxColor: #DCDCDC;
  --text: #131313;
  --highlight: #F9AA33;
}

body{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('/img/background.png');
}

select{
  display: block;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 635; 
  color: var(--text);
}

/* top navigation bar */
.top-navbar{
  overflow: auto;
  position: fixed;
  top: 0;
  height: 15%;
  width: 150%;
  display: flex;
  background: rgba(0,0,0,0);
}
.top-navbar #back{
  float: left;
  position: relative;
  width: 18%;
  padding: 40px 18px;
  transition: all 0.3s ease;
  color: var(--uppernavbar);
}
.top-navbar #logo{
  float: left;
  position: relative;
  left: 18%;
  width: 18%;
  padding: 30px 0px;
  transition: all 0.3s ease;
  font-size: 10px 0;
  color: var(--uppernavbar);
}
.top-navbar #calendar{
  float: right;
  text-align: center;
  width: 145%;
  padding: 40px 0px;
  transition: all 0.3s ease;
  font-size: 10px 0;
  color: var(--uppernavbar);
}

/* bottom navigation bar */
.bottom-navbar{
  overflow: auto;
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
  background: var(--primary);
}
.bottom-navbar a{
  float: left;
  text-align: center;
  font-size: 17px;
  padding: 16px 0px;
  width: 20%;
  color: var(--uppernavbar);
}
.bottom-navbar #active{
  color: var(--highlight);
}

/* canteen selection */
.container{
  font-weight: 600; 
  margin-top: 240px;
  color: var(--boxColor);
}
.canteen a{
  display: flex;
  text-align: center; 
  font-weight: 650; 
  margin-top: 10px;
  padding-right: 60;
  line-height: 2.1em;
  width: 21%;
  height: 4%;
  background-color: var(--boxColor);
  color: var(--text);
}
.canteen span{
  color: var(--uppernavbar);
}
h6{
  font-family: Segoe UI;
  font-style: normal;
  font-variant: normal; 
  font-size: 20px; 
  font-weight: 600; 
  line-height: 26.4px;
  color: var(--textMensaAuswahl);
}

/* menu */
.meals-headline{
  display: flex;
  margin-top: 120px;
  margin-left: 5px;
}
.meals-headline #speiseplan{
  font-family: Rockwell;
  font-size: 25px;
  margin-left: 15px;
  color: var(--textMensaAuswahl);
}
.meals-headline #next-day{
  margin-top: 8px;
  margin-left: 5px;
  color: var(--textMensaAuswahl);
}
.meals-headline #filter{
  margin-top: 6px;
  margin-left: 169px;
  color: var(--textMensaAuswahl);
}
.meals-headline #download{
  margin-top: 6px;
  margin-left: 3px;
  color: var(--textMensaAuswahl);
}

